<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <!--css 들어갈 부분-->
  </head>

  <body>
    <h1>Meow</h1>
    <p>
      <%= nickname %>
      <a href="/logout">로그아웃</a>
      <a href="/addBoard">게시글 작성</a>
      <a href="/editBoard">게시글 수정</a>
    </p>
  </body>
</html>
