<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <!--css 들어갈 부분-->
    <%- include('./partials/head') %>
  </head>

  <body>
    <%- include('./partials/nav') %>
    <h1>Meow</h1>
    <p>
      <%= nickname %>
      <br />
      <a href="/addBoard" class="nav-link">게시글 추가하기</a>
      <br />
      <br />
      <a href="/editBoard" class="nav-link">게시글 수정하기</a>
      <br />
      <a href="/addTag" class="nav-link">태그 추가하기</a>
      <br><br>
      <a href="/myBoardList">나의 게시글 목록</a>
      <br>
      <a href="/otherBoardList">모든 게시글 목록</a>
    </p>
  </body>
</html>
