<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    <link href="/css/addTag.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title><%= title %></title>
    <%- include('./partials/head') %>
  </head>

  <body style="background-color: #FFF0C2 !important;">
    <%- include('./partials/nav') %>
    <h1 style="text-align: center;color: #92B4EC;font-family: 'Kdam Thmor Pro', sans-serif; margin-bottom: 2%;">Add Tag</h1>
    <div class="tag_box" style="width: 100%;height: 500px;">
      <div class="left" style="overflow-y:scroll; height: 500px;width: 40%;float: left;margin-left: 7%;margin-bottom: 10%;padding: 10px 20px 10px 20px;box-sizing: padding-box;border: 2px solid #92B4EC;border-radius: 10px;background-color: white;">
        <h3 class="tag_list" style="text-align:center">태그 목록</h3>
        <br />
        <%tag_list.forEach(tag => { %>
          <p style="text-align: center"><%= tag %></p><br>
        <%}); %>
      </div>
      <div class="right" style="height: 500px;
      width: 40%;
      float: right;
      margin-right: 7%;
      margin-bottom: 10%;
      box-sizing: padding-box;
      border: 2px solid #92B4EC;
      padding: 10px 20px 10px 20px;
      border-radius: 10px;
      background-color: white;">
        <h3 class="tag_add" style="text-align: center;">태그 추가</h3>
        <br />
        <form action="/addTag" method="post" className="tagInput">
          <input
            type="text"
            name="tag"
            placeholder="TAG"
            class="tag_input"
            style="margin-left: 33%;
            width: 30%;
            padding: 8px 8px 8px 8px;
            border-radius: 7px;"
          /><br /><br />
          <button type="submit" id="tagAddBtn" style="font-family: 'Kdam Thmor Pro', sans-serif;
          width: 30%;
          padding: 5px;
          text-align: center;
          margin-top: 5px;
          margin-left: 35%;
          background-color: #FFD24C;
          border-color: transparent;
          border-radius : 5px;
          color: white;"><i class="bi bi-plus-square"> </i> 태그 추가</button>
        </form>
        <br />
        <a href="/" style="text-decoration-line: none;
        font-size: 11pt;
        font-weight: bold;
        color: #92B4EC;
        margin-left: 80%;">뒤로가기</a>
      </div>
    </div>
  </body>
</html>