@charset "utf-8";

body {
  background-color: #FFF0C2 !important;
}

h1 {
    text-align: center;
    color: #92B4EC;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
div.tag_box {
  width: 100%;
  height: 500px;
}

div.left {
  overflow-y: scroll;
  height: 500px;
  width: 40%;
  float: left;
  margin-left: 7%;
  margin-bottom: 10%;
  padding: 10px 20px 10px 20px;
/*     box-sizing: padding-box; */
  border: 2px solid #92B4EC;
  border-radius: 10px;
  background-color: white;
  }
  div.left::-webkit-scrollbar {
    display: none;
  }

  div.right {
    height: 500px;
    width: 40%;
    float: right;
    margin-right: 7%;
    margin-bottom: 10%;
/*     box-sizing: padding-box; */
    border: 2px solid #92B4EC;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: white;
  }

  .tag_list {
    text-align: center;
  }

  .tag_add {
    text-align: center;
  }

.tag_input {
  margin-left: 30%;
  padding: 8px 8px 8px 8px;
  border-radius: 7px;
  }

#tagAddBtn {
  font-family: 'Kdam Thmor Pro', sans-serif;
  width: 30%;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  margin-left: 35%;
  background-color: #FFD24C;
  border-color: transparent;
  border-radius : 5px;
  color: white;
}

#tagAddBtn:hover {
  border : 2px solid #FFD24C;
  background-color: white;
  color : #FFD24C;
  font-weight: bold;
  box-shadow : 0 0.5em -0.4em #FFD24C;
  transform : translateY(-0.25em);
}

a {
  text-decoration-line: none;
  font-size: 11pt;
  font-weight: bold;
  color: #92B4EC;
  margin-left: 80%;
}