@charset "utf-8";
/* CSS Document */
h1 {
    text-align: center;
} 

body {
    margin: 20px; 
    font-size: 18px;
}

div.main {
    width: 1000px;
    height: 550px; 
    border: 1px solid; 
    border-radius: 2em; 
    /* display: table-cell; 
    vertical-align: middle;  */
    padding: 40px;
    margin: auto;
}

div.lefttop {
    width: 410px;
    height: 40px; 
    border: 1px solid; 
    border-radius: 1.5em; 
    text-align: center;
    padding-top: 10px;
    float: left;
    font-size: medium;
}

div.leftbottom {
    float: left;
    text-align: center;
}

div.righttop {
    font-size: medium;
    float :right;
}

div.qna {
    width: 1000px;
    height: 500px; border: 1px solid; 
    border-radius: 2em; 
    padding: 50px;
    margin: auto;
}

div.writeqna {
    width: 1000px;
    height: 150px; border: 1px solid; 
    border-radius: 2em; 
    padding: 50px;
    margin: auto;
}

div.wrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 10px;
}

div > article{
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
